body {
  background-color: rgba(230,230,230,230);
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #7d7d7d;
  font-size: 15px;
  line-height: 1.6em;
}

h1 {
  color: #3B6E80;
  font-size: 22px;
}

h2 {
  color: #518596;
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    color: #3B6E80;
}

p {
  text-align: justify;
  margin: 15px;
}

ul {
    -webkit-padding-start: inherit;
    -webkit-margin-after: inherit;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
.container {
  width: 750px;
  margin: 30px auto;
}

.card {
  background-color: white;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 2px 2px 2px 0px rgba(155, 155, 155,1);
}

.image-circle {
  width: 150px;
  border-radius: 50%;
  margin-top: 10px;
}

.image-radius{
  width: 150px;
  border-radius: 5px;
  margin: 10px;
}

.btn-good {
    background-color: #EAAF0F;
    color: white;
    font-weight: 500;
    padding: 10px;
    border-radius: 4px;
}

.list-inline li {
    display: inline-block;
    padding: 20px;
    padding-left: 0px;
}

.text-center {
    text-align: center;
}

/*.table{
  vertical-align: top;
}*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
